.sozdat {
    padding: 0.5em 1.5em;
    background-color: transparent;
    font-size: 0.9em;
    text-transform: uppercase;
    color: #2196f3;
    border: 2px solid #2196f3;
    border-radius: 0.4em;
}

.otpr {
    padding: 0.5em 1.5em;
    background-color: transparent;
    font-size: 0.9em;
    border: 2px solid #2196f3;
    border-radius: 0.4em;
}

.sozdanie {
    font-feature-settings: "smcp", "zero";
}

.tekst {
    font-size: 20px;
    border: 2px solid #616161;
    padding: 0.1em 1em;
    border-radius: 10px;
    border-color: #2196f3;
}

.tekst a {
    color: #2196f3;
    text-decoration: none;
}

.tekst2 a {
    color: #616161;
    text-decoration: none;
}

.tekst2 {
    font-size: 20px;
    border: 2px solid #616161;
    padding: 0.1em 1em;
    border-radius: 10px;
    border-color: #2196f3;
}

.nazv {
    text-transform: uppercase;
    font-feature-settings: "smcp", "zero";
}


.add
{
  width: 75px;
  height: 75px;
  line-height: 75px;
  text-align: center;
  border: 1px dashed grey;
  margin: 10px 0;
}

.add:hover
{
  cursor: pointer;
  background-color: #360581;
}